# Laravel
/vendor/
/node_modules/
/public/build/
/public/hot/
/public/storage/
/storage/*.key
/storage/framework/sessions/
/storage/framework/views/
/storage/framework/cache/data/
/bootstrap/cache/*.php

# Environment
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# DomPDF font cache
/storage/fonts/*.afm
/storage/fonts/*.ufm
/storage/fonts/*.php
/storage/fonts/*.t1

# Logs
/storage/logs/*.log
npm-debug.log
yarn-debug.log
yarn-error.log

# Testing
/coverage/
.phpunit.result.cache

# Build
/dist/
